.favorite-container{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 1240px;
    margin: 0 auto;
}
.favorite-title{
    font-size: 34px;
    color: rgb(170, 168, 168);
    margin: 0 auto;
}