.selected-movie-container{
    margin-top: 100px;

}
.selected-movie-image{
    width: 250px;
    height: 380px;
    float: left;
    margin: 0 32px 10px 0;
}
.selected-movie-text-container{
    color: rgb(170, 168, 168);
    
}