.selected-movie-container{
    margin-top: 100px;
    width: 900px;
display: flex;
justify-content: space-between;
}
.selected-movie-image{
    float: left;
    margin: 0 32px 10px 0;
    
}
.selected-movie-text-container{
    color: rgb(170, 168, 168);
    
}