.searchh-container{
   
    padding-top: 100px;
}
.title-wrapper{
 
    margin: 0 auto;
display: flex;
justify-content: center;
}
.search-cards{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1240px;
    margin: 0 auto;
}
.page-title{
    font-size: 34px;
    color: rgb(170, 168, 168);
}