.user-avatar {
	display: inline-flex;
	height: 5.25rem;
	padding: 0 0 0 1.7rem;
	align-items: center;
	color: #fff;
	cursor: default;
}

.user-avatar__short-name {
    background-color: rgba(137, 43, 226, 0.582);
	border-radius: 22px;
	padding: 0.6rem;
}

.user-avatar__button {
	width: 1.8rem;
	height: 1.8rem;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

